# Python
__pycache__/
*.pyc
.venv/
venv/

# Data (gerado localmente, não vai pro Git)
data/raw/
data/processed/

# Outputs
outputs/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
